* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  
}
.pimg1 {
  background-image: url(images/watch1.png);
  min-height: 100%;
  
}
.pimg2 {
  background-image: url(images/watch2.png);
  min-height: 400px;
}
.pimg3 {
  background-image: url(images/watch3.png);
  min-height: 400px;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h2{
  text-align: center;
  margin-bottom: 10px;
  
}
.nav {
  /* position: fixed;        
  top: 0;                
  left: 0;                 
   width: 100%;  
    z-index: 1000;              */
  text-align: center;
  background: #030c0a;
  color: #fff;
  padding: 10px;
  font-weight: 700;
   
}        
.ptext {
  position: absolute;
  top: 70%;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 15px;
  letter-spacing: 6px;
}

.textBgs{
  background: #030c0a;
  color: #fff;
  padding: 15px;
  font-weight: 300;
  float:left;
  margin-left: 20px;
}
.textBg {
  background: #030c0a;
  color: #fff;
  padding: 15px;
  font-weight: 300;
  float:right;
  margin-right: 20px;
}

.div {
  padding: 25px 80px;
  text-align: center;
}
.div-light {
  background-color: #dfdbdb;
  color: #666;
}
.div-dark {
  background-color: #282e34;
  color: #ddd;
}
