* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  
  align-items: center;
 

}
.container {
  width: 100vw;
  min-height: 100vh;
  background-image: url("images/developer.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.hero{
  
  color: aliceblue;
  max-width: 900px;
  margin:100px auto;
  
}
.hero h1 {
  font-size: 3em;
  margin-bottom: 1px;
}
.hero  span{
  font-size: 29px;
}
.hero h2{
  font-size: 3em;
  font-weight: 600;
  
}
.box{
  margin:30px auto;
}
.box h2{
  text-align: center;
  padding-bottom: 15px;
}
.box p{
  font-size: 1em;
  font-family: "Ink Free", serif;
} 
.card{
  width: 70%;
  height: 100%;
 
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
 gap : 20px;  
}
.first{
  
  border-radius: 4px;
  border:none;
  box-shadow: 0 0 10px rgba(145, 143, 143, 0.586);
  padding: 20px;
}
.second{
  
  border-radius: 5px;
  border:none;
  box-shadow: 0 0 10px rgba(145, 143, 143, 0.586);
  padding: 20px;
}
.third{
  
  border-radius: 5px;
  border:none;
  box-shadow: 0 0 10px rgba(145, 143, 143, 0.586);
  padding: 20px;
}
.card h3{
   padding: 5px ;
  font-size: 15px;
  color:rgb(57, 57, 58);
  font-weight: 400;
  padding-bottom: 0px;
  text-align: center;
}
.card p{
  font-size: 14px;
  font-weight: 400;
  padding-top: 5px;
  color:rgb(104, 105, 106);
}
.footer{
  width: 100%;
  height: 100%;
  padding:0px 0px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  
  flex-direction: row;
 
}
.about{
  padding:15px 20px;
  width:50%;
  background-color: rgb(67, 66, 66);
  color:#ffffff
}
.contact{
  width:50%;
  padding:15px 20px;
  background-color: rgb(67, 66, 66);
  color:#ffffff
}
.contact h2{
  font-size: 1.3em;
  margin-bottom: 10px;
}
.contact p{
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5;
}
.contact a{
  color: #ffffff;
  
}
.about h2{
  font-size: 1.3em;
  margin-bottom: 10px;
}
.about p{
  font-size: 1em;
  font-weight: 200;
  
}

